# Dependencies
node_modules
.pnp
.pnp.js

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.production

# Next.js
.next
out
build
next-env.d.ts

# Turborepo
.turbo

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage

# Docs (PRD e specs internos, nao versionar)
docs/

# Misc
*.tsbuildinfo
